{% load staticfiles %}


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="color: #000">
    <ol class="carousel-indicators">
        <li ng-repeat="link in links" data-target="#carousel-example-generic"
            data-slide-to="{{$index}}"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item" ng-repeat="link in links">
            <img ng-src="{{ STATIC_URL }}images/default.jpg" alt="">
            <div class="carousel-caption">
                {{ link.caption }}
            </div>
        </div>
    </div>

    Mhlengi

    <a class="left carousel-control" href="#carousel-example-generic"
       role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"
              aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic"
       role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"
              aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
