<div id="home" class="container-fluid text-center">
    <h2 style="margin-top: 0px;">HOME</h2>
    <div class='row text-center'>
        <div class='col-sm-4 col-sm-offset-4'>
            <div class="modal fade" id="myModalDeleteCarousel" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">
                                Delete Carousel
                            </h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li ng-repeat='todo in todos'
                                    ng-class="{completed: todo.is_completed}"
                                    class="list-group-item">
                                    <p ng-bind-html="todo.title"></p>
                                        <span class="glyphicon glyphicon-trash"
                                              ng-click="deleteTodo(todo.id)">
                                        </span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">Later
                            </button>
                            <button type="submit" class="btn btn-success"
                                    data-dismiss="modal"
                                    ng-click="addTodo()">Done
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row text-center'>
        <carousel links="links"></carousel>
    </div>
</div>
