<div id="carousel" class="container-fluid text-center">
    <h2>NEW CAROUSEL</h2>
    <div class="row">
        <div class='row text-center'>
            <div class='col-sm-4 col-sm-offset-4'>
                <input id="text_new_todo_title" type="text"
                       ng-model="newTodo.title"
                       placeholder="title" onkeyup="success()"
                       class='form-control' required/>
                <br/>
                <textarea name="textarea" class="form-control" rows="5"
                          ng-model="newTodo.description"
                          placeholder="description"></textarea>

                <br/>
                <button type="button" id="button_trigger_modal"
                        class="btn btn-primary btn-lg"
                        data-toggle="modal" data-target="#myModalCarousel"
                        disabled>
                    Add
                </button>
            </div>
        </div>

        <div class="modal fade" id="myModalCarousel" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New
                            Carousel</h4>
                    </div>
                    <div class="modal-body">
                        Please confirm new Carousel!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">No
                        </button>

                        <button type="submit" class="btn btn-success"
                                data-dismiss="modal"
                                ng-click="addTodo()">Yes
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
