
  <div class="jumbotron jumbotron-fluid my-0">
      <div class='row text-center'>
          <div class='col-sm-12 col-sm-offset-12'>
              <h2 class="display-3 mt-5" style="color:white"> Contact Us </h3>
              <hr>
          </div>
      </div>

  </div>
  <div class="container-fluid  py-4" style="color:black" id="contact">
    <h2 class="display-5 pb-2 text-center">
        Contact Information
    </h2>
<div class="row">
  <div class="col">
  </div>
  <div class="col-sm-12 col-md-8 col-lg-5" id="middlediv">
    <p>
        <span class="title">Name & Surname:</span> <span class="title2">Mhlengi Mzimela</span>
    </p>
    <p>
        <span class="title">Email:</span> <span class="title2">mhlengij5@gmail.com</span>
    </p>
    <p>
        <span class="title">Contact:</span> <span class="title2">Contact: 0723208000</span>
    </p>
    <p>
        <span class="title">Address:</span> <span class="title2">Wood, Goodwood, Cape Town 7460</span>
    </p>
  </div>
  <div class="col">

  </div>
</div>




  </div>
