<div class="container-fluid">
  <div class='row text-center'>
      <div class='col-sm-12 col-sm-offset-12'>
          <h3> Contact Us </h3>
          <hr>
          <p>
              Contact Information
          </p>

          <p>
              Name & Surname: Mhlengi Mzimela
          </p>

          <p>
              email: mhlengij5@gmail.com
          </p>

          <p>
              contact: 0723208000
          </p>

          <p>
              address: Goodwood
          </p>

      </div>
  </div>

</div>
